:root {
  --title-dark-color: #312938;
  --text-dark-color: #464646;
  --text-light-color: #ffffff;
  --light-blue: #7EAAFE;
  --salmon: #F88E8E;
  --light-salmon: #FFD3D3;
  --background-pricing: #2b2b2b ;
}

h3 {
  font-size: 1.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: 1px solid #d6d6d6;
  height: 5rem;
}
header a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
header a h2 {
  font-size: 2rem;
  font-weight: 500;
  color: black;
  margin-left: 1rem;
}
header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header ul li {
  padding: 0 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.presentation .presentation-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.presentation .presentation-main .presentation-text {
  margin: 1rem;
}
.presentation .presentation-main .presentation-text h1 {
  font-size: 2rem;
  color: var(--title-dark-color);
  margin-bottom: 1rem;
  font-weight: 600;
}
.presentation .presentation-main .presentation-text p {
  font-weight: 500;
}
.presentation .presentation-main .presentation-image {
  width: 100%;
  height: 300px;
  background-image: url("../img/presentation-phone.png");
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: 150%;
}
.presentation h2 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin: 1rem;
}

.main-features {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem 1rem;
}
.main-features .first-feature {
  width: 100%;
  background-color: #F7F7F7;
  border-radius: 30px;
}
.main-features .first-feature .text {
  padding: 1.5rem;
}
.main-features .first-feature .text p {
  color: var(--text-dark-color);
  font-weight: 500;
}
.main-features .first-feature .image {
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.main-features .first-feature .call-to-action {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 1.5rem;
}
.main-features .first-feature .call-to-action button {
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--light-blue);
  color: var(--text-light-color);
  border-radius: 10px;
}
.main-features div {
  width: 100%;
  margin: 1rem 0;
}
.main-features div .second-feature {
  background-color: var(--light-blue);
  border-radius: 30px;
  height: 450px;
}
.main-features div .second-feature .text {
  padding: 1.5rem;
}
.main-features div .second-feature .text h3 {
  color: var(--text-light-color);
}
.main-features div .second-feature .image {
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.main-features div .third-feature {
  background-color: #2B2B2B;
  border-radius: 30px;
  height: 450px;
}
.main-features div .third-feature .text {
  padding: 1.5rem;
}
.main-features div .third-feature .text h3 {
  color: var(--text-light-color);
}
.main-features div .third-feature .image {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.premium-features h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.premium-features .call-to-action {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
  margin-bottom: 2rem;
}
.premium-features .call-to-action button {
  border: none;
  padding: 1rem 2rem;
  background-color: var(--light-blue);
  color: var(--text-light-color);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.premium-features .call-to-action button img {
  margin-left: 0.5rem;
}
.premium-features .feature {
  margin: 2rem 1rem;
}
.premium-features .feature .feature-text h4 {
  font-size: 1.5rem;
  font-weight: 500;
}
.premium-features .feature .feature-text p {
  color: var(--text-dark-color);
  font-weight: 500;
}
.premium-features .lastest-release {
  margin: 1rem;
  margin-bottom: 4rem;
  padding: 1.5rem 1rem 0 1rem;
  background-color: var(--salmon);
  border-radius: 30px;
}
.premium-features .lastest-release .text .news {
  width: 100%;
  margin-bottom: 2rem;
}
.premium-features .lastest-release .text .news p {
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: var(--light-salmon);
  border-radius: 10px;
  font-weight: 500;
  color: black;
}
.premium-features .lastest-release .text h3 {
  color: var(--text-light-color);
}
.premium-features .lastest-release .text p {
  color: var(--text-light-color);
  font-weight: 500;
}
.premium-features .lastest-release .image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pricing {
  margin: 1rem;
  background-color: var(--background-pricing);
  border-radius: 30px;
  padding: 1rem;
}
.pricing h3 {
  color: var(--text-light-color);
  padding: 0 2rem;
  text-align: center;
}
.pricing p {
  color: var(--text-light-color);
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}
.pricing .call-to-action {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
  margin: 2rem 0;
}
.pricing .call-to-action button {
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--light-blue);
  color: var(--text-light-color);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.pricing .call-to-action button img {
  margin-left: 0.5rem;
}
.pricing .offers {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
}
.pricing .offers article {
  width: 280px;
  background-color: white;
  border-radius: 15px;
  padding: 2rem;
  margin: 0 1rem;
}
.pricing .offers article h5 {
  text-align: center;
  color: var(--title-dark-color);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.pricing .offers article .price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.pricing .offers article .price p {
  color: black;
  font-size: 3rem;
  margin-right: 0.5rem;
  font-weight: 600;
}
.pricing .offers article ul {
  margin-bottom: 2rem;
  list-style: none;
}
.pricing .offers article ul li {
  padding: 1rem;
  display: flex;
  align-items: center;
}
.pricing .offers article ul li img {
  margin-right: 1rem;
}
.pricing .offers article .call-to-action {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
