header{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom: 1px solid #d6d6d6;
    height: 5rem;
    @include large{
      padding: 0 5rem;
    }

    a{
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;

      h2{
        font-size: 2rem;
        font-weight: 500;
        color: black;
        margin-left: 1rem;
      }
    }

    .menu {
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #000;
      list-style: none;
      display: none;

      @include medium {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        list-style: none;
        height: 100%;
        position: relative;
        background: none;
        top: 0 !important; 
      }

      li{
        a{
          color: var(--text-light-color);
          font-size: 1.5rem;
          font-weight: 600;

          @include medium{
            display: inline-block;
            font-weight: 500;
            padding: 0.5rem 1rem;
            text-decoration: none;
            font-size: 1.5rem;
            color: black;
          }
        }
      }

      .active{
        background-color: var(--light-blue);
        border-radius: 15px;

        a{
          color: var(--text-light-color);
        }
      }



      .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

        @include medium{
          display: none;
        }
      }
    }
    .openMenu {
      display: flex;
      justify-content: center;
      align-items: center;

      @include medium {
        font-size: 2rem;
        display: none;
      }
    }
}