.premium-features{
    .premium-features-title{
        @include medium{
            display: flex;
            justify-content: space-between;
            margin: 0 5rem;
        }

        h2{
            text-align: center;
            font-size: 2rem;
            font-weight: 500;
            margin-bottom: 1rem;
        }
        .call-to-action{
            display: flex;
            justify-content: center;
            padding: 0 1.5rem;
            margin-bottom: 2rem;
    
            button{
                border: none;
                padding: 1rem 2rem;
                background-color: var(--light-blue);
                color: var(--text-light-color);
                font-size: 1rem;
                font-weight: 500;
                border-radius: 10px;
                display: flex;
                align-items: center;
    
                img{
                    margin-left: 0.5rem;
                }
            }
        }
    }

    .premium-features-list{
        @include medium{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 0 4rem;
        }
        .feature{
            margin: 2rem 1rem;
            @include medium{
                width: 20rem;
            }
    
            .feature-text{
                h4{
                    font-size: 1.5rem;
                    font-weight: 500;
                }
    
                p{
                    color: var(--text-dark-color);
                    font-weight: 500;
                }
            }
        }
    }

    .lastest-release{
        margin: 1rem;
        margin-bottom: 4rem;
        padding: 1.5rem 1rem 0 1rem;
        background-color: var(--salmon);
        border-radius: 30px;

        .text{
            .news{
                width: 100%;
                margin-bottom: 2rem;
    
                p{
                    width: fit-content;
                    padding: 0.5rem 1rem;
                    background-color: var(--light-salmon);
                    border-radius: 10px;
                    font-weight: 500;
                    color: black;
                }
            }

            h3{
                color: var(--text-light-color);
            }

            p{
                color: var(--text-light-color);
                font-weight: 500; 
            }
        }

        .image{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}