:root{
    --title-dark-color: #312938;
    --text-dark-color: #464646;
    --text-light-color : #ffffff;
    --light-blue : #7EAAFE;
    --salmon: #F88E8E;
    --light-salmon: #FFD3D3;
    --background-pricing: #2b2b2b
}