:root {
  --title-dark-color: #312938;
  --text-dark-color: #464646;
  --text-light-color: #ffffff;
  --light-blue: #7EAAFE;
  --salmon: #F88E8E;
  --light-salmon: #FFD3D3;
  --background-pricing: #2b2b2b;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: 1px solid #d6d6d6;
  height: 5rem;
}
@media screen and (min-width: 1200px) {
  header {
    padding: 0 5rem;
  }
}
header a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
header a h2 {
  font-size: 2rem;
  font-weight: 500;
  color: black;
  margin-left: 1rem;
}
header .menu {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  list-style: none;
  display: none;
}
@media screen and (min-width: 800px) {
  header .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 100%;
    position: relative;
    background: none;
    top: 0 !important;
  }
}
header .menu li a {
  color: var(--text-light-color);
  font-size: 1.5rem;
  font-weight: 600;
}
@media screen and (min-width: 800px) {
  header .menu li a {
    display: inline-block;
    font-weight: 500;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
  }
}
header .menu .active {
  background-color: var(--light-blue);
  border-radius: 15px;
}
header .menu .active a {
  color: var(--text-light-color);
}
header .menu .closeMenu {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}
@media screen and (min-width: 800px) {
  header .menu .closeMenu {
    display: none;
  }
}
header .openMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 800px) {
  header .openMenu {
    font-size: 2rem;
    display: none;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

h3 {
  font-size: 1.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1200px) {
  h3 {
    font-size: 2.3rem;
  }
}
@media screen and (min-width: 1600px) {
  h3 {
    font-size: 2.8rem;
  }
}

.presentation .presentation-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.presentation .presentation-main .presentation-text {
  margin: 1rem;
}
@media screen and (min-width: 1200px) {
  .presentation .presentation-main .presentation-text {
    margin: 0;
  }
}
.presentation .presentation-main .presentation-text h1 {
  font-size: 2rem;
  color: var(--title-dark-color);
  margin-bottom: 1rem;
  font-weight: 600;
}
@media screen and (min-width: 1200px) {
  .presentation .presentation-main .presentation-text h1 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1600px) {
  .presentation .presentation-main .presentation-text h1 {
    font-size: 3rem;
  }
}
.presentation .presentation-main .presentation-text p {
  font-weight: 500;
}
@media screen and (min-width: 1200px) {
  .presentation .presentation-main .presentation-text p {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 800px) {
  .presentation .presentation-main .presentation-text {
    width: 50%;
    padding: 2rem;
  }
}
.presentation .presentation-main .presentation-image {
  width: 100%;
  height: 19rem;
  background-image: url("../img/presentation-phone.png");
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: 150%;
}
@media screen and (min-width: 800px) {
  .presentation .presentation-main .presentation-image {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .presentation .presentation-main .presentation-image {
    height: 30rem;
  }
}
.presentation h2 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin: 1rem;
}
@media screen and (min-width: 1200px) {
  .presentation h2 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1600px) {
  .presentation h2 {
    font-size: 3rem;
  }
}

.main-features {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 1rem;
}
@media screen and (min-width: 800px) {
  .main-features {
    margin: 3rem 5rem;
  }
}
.main-features .first-feature {
  width: 100%;
  background-color: #F7F7F7;
  border-radius: 30px;
  padding: 1rem;
}
@media screen and (min-width: 800px) {
  .main-features .first-feature .first-feature-flex {
    display: flex;
    flex-direction: row;
  }
}
.main-features .first-feature .first-feature-flex .text {
  padding: 1.5rem;
}
.main-features .first-feature .first-feature-flex .text p {
  color: var(--text-dark-color);
  font-weight: 500;
}
@media screen and (min-width: 1200px) {
  .main-features .first-feature .first-feature-flex .text p {
    font-size: 1.5rem;
  }
}
.main-features .first-feature .first-feature-flex .image {
  width: 100%;
  margin: 1rem 0;
  padding: 2rem;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 800px) {
  .main-features .first-feature .first-feature-flex .image {
    padding: 0;
  }
  .main-features .first-feature .first-feature-flex .image img {
    width: 100%;
    height: 100%;
  }
}
.main-features .first-feature .call-to-action {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 1.5rem;
}
@media screen and (min-width: 800px) {
  .main-features .first-feature .call-to-action {
    width: 80%;
    justify-content: center;
  }
}
.main-features .first-feature .call-to-action button {
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--light-blue);
  color: var(--text-light-color);
  border-radius: 10px;
}
@media screen and (min-width: 800px) {
  .main-features .first-feature .call-to-action button {
    font-size: 1.5rem;
  }
}
.main-features .secondary-features {
  width: 100%;
  margin: 1rem 0;
}
@media screen and (min-width: 800px) {
  .main-features .secondary-features {
    display: flex;
    justify-content: space-between;
  }
}
.main-features .secondary-features .second-feature {
  background-color: var(--light-blue);
  border-radius: 30px;
  height: 450px;
  margin-bottom: 1rem;
}
@media screen and (min-width: 800px) {
  .main-features .secondary-features .second-feature {
    width: 48%;
  }
}
.main-features .secondary-features .second-feature .text {
  padding: 1.5rem;
}
.main-features .secondary-features .second-feature .text h3 {
  color: var(--text-light-color);
}
.main-features .secondary-features .second-feature .image {
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.main-features .secondary-features .third-feature {
  background-color: #2B2B2B;
  border-radius: 30px;
  height: 450px;
}
@media screen and (min-width: 800px) {
  .main-features .secondary-features .third-feature {
    width: 48%;
  }
}
.main-features .secondary-features .third-feature .text {
  padding: 1.5rem;
}
.main-features .secondary-features .third-feature .text h3 {
  color: var(--text-light-color);
}
.main-features .secondary-features .third-feature .image {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  .premium-features .premium-features-title {
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
  }
}
.premium-features .premium-features-title h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.premium-features .premium-features-title .call-to-action {
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
  margin-bottom: 2rem;
}
.premium-features .premium-features-title .call-to-action button {
  border: none;
  padding: 1rem 2rem;
  background-color: var(--light-blue);
  color: var(--text-light-color);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.premium-features .premium-features-title .call-to-action button img {
  margin-left: 0.5rem;
}
@media screen and (min-width: 800px) {
  .premium-features .premium-features-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 4rem;
  }
}
.premium-features .premium-features-list .feature {
  margin: 2rem 1rem;
}
@media screen and (min-width: 800px) {
  .premium-features .premium-features-list .feature {
    width: 20rem;
  }
}
@media screen and (min-width: 1600px) {
  .premium-features .premium-features-list .feature {
    width: 30rem;
  }
}
.premium-features .premium-features-list .feature .feature-text h4 {
  font-size: 1.5rem;
  font-weight: 500;
}
.premium-features .premium-features-list .feature .feature-text p {
  color: var(--text-dark-color);
  font-weight: 500;
}
.premium-features .lastest-release {
  margin: 1rem;
  margin-bottom: 4rem;
  padding: 1.5rem 1rem 0 1rem;
  background-color: var(--salmon);
  border-radius: 30px;
}
@media screen and (min-width: 800px) {
  .premium-features .lastest-release {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    height: 450px;
    margin: 1rem 5rem;
  }
}
@media screen and (min-width: 800px) {
  .premium-features .lastest-release .text {
    width: 50%;
  }
}
.premium-features .lastest-release .text .news {
  width: 100%;
  margin-bottom: 2rem;
}
.premium-features .lastest-release .text .news p {
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: var(--light-salmon);
  border-radius: 10px;
  font-weight: 500;
  color: black;
}
.premium-features .lastest-release .text h3 {
  color: var(--text-light-color);
}
.premium-features .lastest-release .text p {
  color: var(--text-light-color);
  font-weight: 500;
}
.premium-features .lastest-release .image {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 800px) {
  .premium-features .lastest-release .image {
    width: 50%;
    overflow: hidden;
  }
}

.pricing {
  margin: 1rem;
  background-color: var(--background-pricing);
  border-radius: 30px;
  padding: 1rem;
  margin-bottom: 4rem;
}
@media screen and (min-width: 800px) {
  .pricing {
    margin: 4rem 5rem;
  }
}
.pricing h3 {
  color: var(--text-light-color);
  padding: 0 2rem;
  text-align: center;
}
.pricing p {
  color: var(--text-light-color);
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}
.pricing .call-to-action {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
  margin: 2rem 0;
}
.pricing .call-to-action button {
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--light-blue);
  color: var(--text-light-color);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.pricing .call-to-action button img {
  margin-left: 0.5rem;
}
.pricing .offers {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
}
@media screen and (min-width: 1200px) {
  .pricing .offers {
    justify-content: space-around;
  }
}
.pricing .offers article {
  width: 100%;
  min-width: 280px;
  max-width: 400px;
  background-color: white;
  border-radius: 15px;
  padding: 2rem;
  margin: 0 0.5rem;
}
.pricing .offers article h5 {
  text-align: center;
  color: var(--title-dark-color);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.pricing .offers article .price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.pricing .offers article .price p {
  color: black;
  font-size: 3rem;
  margin-right: 0.5rem;
  font-weight: 600;
}
.pricing .offers article ul {
  margin-bottom: 2rem;
  list-style: none;
}
.pricing .offers article ul li {
  padding: 1rem;
  display: flex;
  align-items: center;
}
.pricing .offers article ul li img {
  margin-right: 1rem;
}
.pricing .offers article .call-to-action {
  margin: 0;
}

.blog {
  margin: 1rem;
}
@media screen and (min-width: 800px) {
  .blog {
    margin: 0 5rem;
  }
}
.blog .blog-section-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog .blog-section-title h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.blog .blog-section-title .call-to-action {
  margin-bottom: 2rem;
}
.blog .blog-section-title .call-to-action button {
  border: none;
  padding: 1rem 2rem;
  background-color: var(--light-blue);
  color: var(--text-light-color);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.blog .blog-section-title .call-to-action button img {
  margin-left: 0.5rem;
}
.blog .list-blog {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.blog .list-blog article {
  height: 22rem;
  width: 24rem;
  margin-bottom: 2rem;
}
.blog .list-blog article .first-blog {
  padding: 1rem;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.8)), url("../img/blog1.png");
  border-radius: 30px;
}
.blog .list-blog article .second-blog {
  padding: 1rem;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.8)), url("../img/blog2.png");
  border-radius: 30px;
}
.blog .list-blog article .third-blog {
  padding: 1rem;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.8)), url("../img/blog3.png");
  border-radius: 30px;
}
.blog .list-blog article .text-blog {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.blog .list-blog article .text-blog .theme {
  width: 100%;
  margin-bottom: 2rem;
}
.blog .list-blog article .text-blog .theme p {
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 17px;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  color: black;
}
.blog .list-blog article .text-blog .blog-headline span {
  color: var(--text-light-color);
  font-weight: 500;
}
.blog .list-blog article .text-blog .blog-headline h4 {
  font-size: 1.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--text-light-color);
}

.about-us {
  margin: 1rem;
  margin-bottom: 4rem;
}
@media screen and (min-width: 800px) {
  .about-us {
    margin: 4rem 5rem;
  }
}
.about-us .about-us-section-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-us .about-us-section-title h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.about-us .about-us-section-title .call-to-action {
  margin-bottom: 2rem;
}
.about-us .about-us-section-title .call-to-action button {
  border: none;
  padding: 1rem 2rem;
  background-color: var(--light-blue);
  color: var(--text-light-color);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.about-us .about-us-section-title .call-to-action button img {
  margin-left: 0.5rem;
}
.about-us article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 30px;
  padding: 1rem;
  background-color: #F7F7F7;
}
@media screen and (min-width: 800px) {
  .about-us article .text-about-us {
    width: 45%;
  }
}
.about-us article .text-about-us h3 {
  color: var(--title-dark-color);
}
.about-us article .text-about-us p {
  font-weight: 500;
  color: var(--text-dark-color);
}
.about-us article .team {
  margin-top: 2rem;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .about-us article .team {
    width: 45%;
  }
}
.about-us article .team .member1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--salmon);
}
.about-us article .team .member2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--light-blue);
}
.about-us article .team .member3 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--background-pricing);
}
.about-us article .team img {
  margin-right: 1rem;
}
.about-us article .team .member-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-us article .team p {
  color: var(--text-light-color);
  font-size: 1.2rem;
  font-weight: 500;
}
.about-us article .team span {
  color: var(--text-light-color);
  opacity: 0.5;
}

footer {
  border-top: 1px solid #d6d6d6;
  padding: 1rem;
}
@media screen and (min-width: 800px) {
  footer {
    padding: 0;
  }
}
footer .footer-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (min-width: 800px) {
  footer .footer-title {
    background-color: var(--light-blue);
    border-radius: 15px;
    align-items: center;
    padding: 2rem;
    margin: 2rem 5rem;
  }
}
footer .footer-title .footer-headline {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
@media screen and (min-width: 800px) {
  footer .footer-title .footer-headline {
    margin: 0;
  }
}
footer .footer-title .footer-headline .logo {
  background-color: white;
  border: 1px solid #d6d6d6;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
footer .footer-title .footer-headline p {
  margin-left: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}
@media screen and (min-width: 800px) {
  footer .footer-title .footer-headline p {
    color: var(--text-light-color);
  }
}
footer .footer-title .call-to-action button {
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--light-blue);
  color: var(--text-light-color);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 800px) {
  footer .footer-title .call-to-action button {
    background-color: #ADC9FF;
  }
}
footer .footer-title .call-to-action button img {
  margin-left: 0.5rem;
}
footer .footer-content {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 800px) {
  footer .footer-content {
    margin: 1rem 5rem;
    justify-content: space-around;
  }
}
footer .footer-content .infos {
  margin: 1.5rem 1rem;
}
footer .footer-content .infos h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
footer .footer-content .infos ul {
  list-style: none;
}
footer .footer-content .infos ul li {
  margin-bottom: 0.5rem;
}
footer .footer-content .infos ul li a {
  color: black;
  text-decoration: none;
}
footer .footer-content .footer-contact {
  line-height: 2rem;
  padding: 1.5rem 1rem;
}
footer .footer-content .footer-contact h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
footer .footer-content .footer-contact p {
  margin-bottom: 2rem;
}
footer .footer-content .footer-contact .input-mail {
  width: 100%;
  border: 1px solid #484848;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
}
footer .footer-content .footer-contact .input-mail input {
  border: none;
  border-radius: 15px;
  width: 90%;
  padding-left: 1rem;
  outline: none;
}
footer .footer-content .footer-contact .input-mail .call-to-action {
  margin: 0.2rem;
}
footer .footer-content .footer-contact .input-mail .call-to-action button {
  border: none;
  padding: 1rem;
  background-color: var(--light-blue);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
